.sideBar
{
    display: inline-block;
    flex-direction: column;
    position:relative;
    box-sizing:border-box;
    height: 100%;
    width: 18rem;
    padding: 24px;
    background-color: #f4f4f6;
}

.loader
{
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}
